body {
    background-image: url(https://wallpapercave.com/wp/wp2634902.jpg);
    margin: 0px 0px 0px 0px;
    height: fit-content;
    font-family: Arial, Helvetica, sans-serif
}

#header {
    background-color: rgb(23, 156, 79);
    color: whitesmoke;
    height: fit-content;
    width: 100%;
    position: sticky;
    top: 0px;
    margin-bottom: 0px;
    z-index: 50;
    overflow: hidden;
}

#menu {
    background-color: teal;
    font-size: 50px;
    text-align: center;
    transition: 1s;
}

.hel {
    float: left;
    height: 40px;
    width: 40px;
    margin: 10px 20px 0px 20px;
    color: white;
    border: solid 3px white;
    background-color: teal;
    font-size: 35px;
    cursor: pointer;
    transition: 1s;
}

#close {
    display: none;
    text-align: center;
    transition: 1s;
}

h1 {
    display: inline;
    padding-bottom: 5px;
    padding-left: 10px;
}

#body {
    display: inline;
    background-color: rgba(245, 245, 245, 0);
}

form {
    display: inline;
    transition: 1s;
}

#searchbar {
    width: 0px;
    height: 30px;
    border: solid 0px black;
    border-radius: 5px;
    margin-bottom: 0px;
    transition: 1s;
}

form {
    margin-bottom: 0px;
    margin-top: 10px;
    float: right;
    transition: 1s;
}

#butse {
    height: fit-content;
    width: fit-content;
    font-size: 25px;
    cursor: pointer;
    display: inline-block;
    transition: 1s;
    color: rgb(73, 73, 73);
    background-color: rgb(0, 255, 106);
    border: solid black 3px;
    border-radius: 5px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 0px 5px 0px 5px;
}

#signup {
    height: fit-content;
    width: fit-content;
    border: solid 3px white;
    float: right;
    margin: 0px 40px 0px 30px;
    border-radius: 30px;
    padding: 5px 10px 0px 10px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 35px
}

#signup:hover {
    background-color: rgb(16, 231, 202);
    cursor: pointer;
    color: white;
    border: white solid 3px;
}

#butse:hover {
    background-color: rgb(1, 114, 57);
    color: white;
    transition: 1s;
}

#sercol {
    display: none;
    transition: 1s;
    position: relative;
    right: 30px;
    color: rgb(61, 61, 61);
    font-size: 25px;
    cursor: default;
}

#sidli {
    list-style: none;
    padding-left: 0px;
    transition: 1s;
    overflow: hidden;
}

#sidebar {
    transition: 1s;
    width: 0px;
    background-color: rgb(56, 56, 56);
    position: sticky;
    top: 70px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    float: left;
    margin-right: 40px;
    z-index: 1;
    height: 550px;
    overflow: hidden;
}

.sidit:hover {
    background-color: rgb(80, 80, 80);
    margin-left: 30px;
    transition: 1s
}

.sidit {
    height: 70px;
    width: inherit;
    color: whitesmoke;
    padding: 15px 5px 10px 20px;
    transition: 1s;
    font-size: 25px;
}

#l1 {
    border-left: solid 10px violet
}

#l2 {
    border-left: solid 10px blue
}

#l3 {
    border-left: solid 10px green
}

#l4 {
    border-left: solid 10px yellow
}

#l5 {
    border-left: solid 10px rgb(255, 136, 0)
}

#l6 {
    border-left: solid 10px red
}

#about {
    width: 100%;
    font-size: 25px;
    color: gray;
    text-align: center;
    padding-bottom: 2px;
    overflow: hidden;
    margin-top: 70px
}

.arrli {
    display: none;
    float: right;
    transition: 1s
}

.sidit:hover .arrli {
    display: inline;
}

#pab:hover {
    color: white;
    cursor: pointer;
}

#content {
    background-color: rgba(128, 128, 128, 0.566);
    height: fit-content;
    overflow: hidden;
    margin: 0px 20px 10px 10px;
    padding: 50px 50px 50px 50px;
}

#shb {
    padding: 5px 0px 5px 0px;
    z-index: 50;
    font-size: 48px;
    color: white;
    float: right;
    animation: wob 0.5s infinite;
    position: sticky;
    animation-direction: alternate;
    bottom: 20px;
    left: 0px;
    background-color: rgb(46, 145, 179);
    border-radius: 50%;
    border: none;
    cursor: pointer;
    height: 100px;
    width: 100px;
    border: solid black 3px;
    border-radius: 50%;
}

#shb:hover {
    background-color: white;
}

@keyframes wob {
    from {
        transform: rotate(10deg)
    }
    to {
        transform: rotate(-10deg)
    }
}

#tail {
    height: fit-content;
    background-color: black;
    margin: 20px 20px 20px 20px;
    color: white;
    display: block;
    position: relative;
    top: 100px;
    padding: 10px 50px 50px 50px;
    overflow: hidden;
}

h3 {
    color: rgb(255, 255, 255);
}

#lang {
    list-style: none;
    color: rgb(179, 179, 179);
}

video {
    border: 2px solid black;
    margin-top: 50px;
    margin-right: 20px;
}

#climcon {
    overflow: hidden;
    background-color: rgb(59, 155, 155, 0.7);
    font-size: 20px;
    float: right;
    display: block;
    border-radius: 10%;
    padding: 20px 20px 20px 20px;
    margin-top: 0px;
    margin-left: : 20px;
    height: 250px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
    display: block;
    margin-bottom: 0px;
}

#climcon:hover {
    height: fit-content;
    cursor: zoom-in;
}

#Map {
    display: block;
    font-size: 40px;
    margin: 0px 20px 20px 40px;
}

#projects {
    background-color: rgba(255, 255, 255, 0);
    height: fit-content;
    margin-top: 100px;
    display: block;
    margin-left: 10px;
    float: right;
    width: 100%;
}

#projti {
    height: fit-content;
    background-color: rgb(80, 80, 80);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 60px;
    color: whitesmoke;
    text-align: center;
}

#projcon {
    height: fit-content;
    background-color: rgba(151, 151, 151, 0.541);
    padding: 20px 20px 20px 20px;
    overflow: hidden;
}

#seeall {
    height: 50px;
    transition: 1s;
    background-color: rgb(66, 219, 52);
    cursor: pointer;
    color: white;
    text-align: center;
    font-family: Arial, Helvetica;
    font-size: 30px;
    padding-top: 10px;
}

#seeall:hover {
    background-color: rgb(23, 156, 79);
    transition: 1s;
}

.project {
    height: fit-content;
    margin-top: 20px;
    width: 250px;
    background-color: rgb(212, 212, 212);
    padding: 10px 10px 10px 10px;
    margin-right: 20px;
    float: left;
}

.proimc {
    height: 160px;
    ;
}

.proim {
    width: 220px;
    height: 150px;
}

.prov {
    width: 220px;
    height: 150px;
    position: relative;
    bottom: 150px;
    color: white;
    text-align: center;
    opacity: 0;
    ;
    transition: 0.5s;
    padding: 5px 5px 5px 5px;
    overflow: hidden;
}

.proimc:hover .prov {
    opacity: 1;
    transition: 0.5s;
}

.likeunli {
    height: fit-content;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin: 3px;
}

.like {
    width: 49%;
    cursor: pointer;
    background-color: rgb(211, 211, 211);
    float: left;
    height: 35px;
    padding: 5px 0px 5px 0px;
    text-align: center;
    border: 1px solid gray;
}

.unlike {
    width: 49%;
    cursor: pointer;
    background-color: rgb(211, 211, 211);
    float: right;
    height: 35px;
    padding: 5px 0px 5px 0px;
    text-align: center;
    border: 1px solid gray;
}

.like:hover {
    background-color: rgb(143, 143, 143)
}

.unlike:hover {
    background-color: rgb(143, 143, 143)
}

#prov1 {
    background-color: teal;
}

#prov2 {
    background-color: tomato;
}

#prov3 {
    background-color: hotpink;
}

#prov4 {
    background-color: rgb(34, 34, 121);
}

.evm {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px
}

.mobut {
    background: rgb(0, 0, 0, 0);
    border: white solid 1px;
    color: white;
    font-size: 15px;
}

.mobut:hover {
    background-color: white;
    color: rgba(0, 0, 0, 1);
    cursor: pointer;
}

#mapim {
    width: 300px;
    height: 200px;
}

.folimg {
    height: 50px;
    border-radius: 50%;
    margin-right: 20px;
    fill: gray;
}

#foli {
    list-style: none;
}

#followus {
    display: block;
    float: left;
    margin-left: 50px;
}

#searchform {
    float: right;
}

.heart {
    display: none;
}

.heart+label {
    color: #939da5;
}

.heart:checked+label {
    color: #e2264d;
    animation: heartani 0.5s;
    animation-iteration-count: 1;
}

.thumbd {
    display: none;
}

.thumbd+label {
    color: #8796a0;
    position: relative;
}

.thumbd:checked+label {
    color: rgb(0, 0, 102);
    animation: thumbsdown 1.5s;
    animation-iteration-count: 1;
}

@keyframes thumbsdown {
    0% {
        color: rgb(169, 169, 187);
        bottom: 5px;
    }
    25% {
        color: rgb(53, 53, 128);
        top: 0px;
    }
    50% {
        color: rgb(40, 40, 88);
        top: 5px;
    }
    75% {
        color: rgb(20, 20, 180);
        top: 10px;
    }
    100% {
        color: darkblue;
        top: 15px;
    }
}

@keyframes heartani {
    0% {
        font-size: 20px;
        color: yellow
    }
    25% {
        font-size: 25px;
        color: orange
    }
    50% {
        font-size: 30px;
        color: orangered;
    }
    75% {
        font-size: 25px;
        color: rgb(252, 31, 10);
    }
    100% {
        font-size: 20px;
        color: rgb(255, 17, 0);
    }
}

.tailcomp {
    margin: 0px 20px 10px 20px;
    float: left;
}

#ifcir {
    float: right;
    margin-right: 20px;
    padding-top: 10px;
}

div#pop {
    top: 60px;
    z-index: 1;
    position: absolute;
    background-color: rgb(255, 255, 255);
    display: none;
    width: 450px;
    border: black solid 2px;
    color: black;
    font-size: 30px;
    animation-iteration-count: infinite;
    padding: 20px 20px 20px 20px;
}

div#credit {
    position: relative;
    display: inline-block;
    font-size: 50px;
}

div#credit:hover div#pop {
    display: block;
    transition: 1s;
}

img.social {
    float: left;
    height: 60px;
    margin: 10px 10px 10px 10px;
}

#cdivi {
    float: left;
    display: block;
    padding-top: 50px;
    margin: 0px 20px 20px 20px
}